In [5]:
import pandas as pd
import geopandas as gpd
import json
from shapely.geometry import Point, Polygon, LineString

https://www.data.go.kr/tcs/dss/selectStdDataDetailView.do
공공데이터포털 전국도시공원정보표준데이터 csv파일로 다운로드

In [14]:
park = pd.read_csv('전국도시공원정보표준데이터.csv', encoding='cp949')

In [50]:
park.head(2)

,관리번호,공원명,공원구분,소재지도로명주소,소재지지번주소,위도,경도,공원면적,공원보유시설(운동시설),공원보유시설(유희시설),공원보유시설(편익시설),공원보유시설(교양시설),공원보유시설(기타시설),지정고시일,관리기관명,전화번호,데이터기준일자,제공기관코드,제공기관명
0,48250-00039,달래공원,어린이공원,경상남도 김해시 월산로 119,경상남도 김해시 부곡동 803-4,35.204857,128.800645,1990.0,NaN,조합놀이대,NaN,NaN,NaN,1998-12-23,경상남도 김해시청,055-330-6989,2020-12-17,5350000,경상남도 김해시
1,48250-00041,대동공원,근린공원,경상남도 김해시 활천로285번길 14,경상남도 김해시 삼방동 192,35.244564,128.910443,10362.0,NaN,NaN,NaN,NaN,NaN,1990-12-14,경상남도 김해시청,055-330-4414,2020-12-17,5350000,경상남도 김해시

In [113]:
code = ['3640000', '3650000', '3660000', '3670000', '3680000']
df = pd.DataFrame()
for i in code:
    park_daejeon = park[park['제공기관코드']==i]
    df = pd.concat([df,park_daejeon])

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 498 entries, 9783 to 7845
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   관리번호          498 non-null    object
 1   공원명           498 non-null    object
 2   공원구분          498 non-null    object
 3   소재지도로명주소      227 non-null    object
 4   소재지지번주소       498 non-null    object
 5   위도            497 non-null    float64
 6   경도            498 non-null    float64
 7   공원면적          498 non-null    float64
 8   공원보유시설(운동시설)  278 non-null    object
 9   공원보유시설(유희시설)  222 non-null    object
 10  공원보유시설(편익시설)  264 non-null    object
 11  공원보유시설(교양시설)  130 non-null    object
 12  공원보유시설(기타시설)  104 non-null    object
 13  지정고시일         307 non-null    object
 14  관리기관명         498 non-null    object
 15  전화번호          498 non-null    object
 16  데이터기준일자       498 non-null    object
 17  제공기관코드        498 non-null    object
 18  제공기관명         498 non-null    object
dtypes: float64(3), object(16)
memory usage: 77.8+ KB

In [114]:
df.head(1)

,관리번호,공원명,공원구분,소재지도로명주소,소재지지번주소,위도,경도,공원면적,공원보유시설(운동시설),공원보유시설(유희시설),공원보유시설(편익시설),공원보유시설(교양시설),공원보유시설(기타시설),지정고시일,관리기관명,전화번호,데이터기준일자,제공기관코드,제공기관명
9783,30110-00033,낭월7호공원,어린이공원,NaN,대전광역시 동구 낭월동 492,36.278667,127.464941,5287.9,"스트레칭롤라, 롤링웨이스트, 트윈트위스트, 풀웨이트, 크로스컨트리",조합놀이대,"파고라,음수대",NaN,NaN,2004-04-29,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구

In [116]:
# 관리번호 = num, 공원명 = name, 공원구분 = type, 소재지도로명주소 = r_address, 소재지지번주소 = l_address
# 위도 = lat, 경도 = lon, 공원면적 = p_area, 공원보유시설(운동시설) = e_facility, 공원보유시설(유희시설) = f_facility
# 공원보유시설(편익시설) = c_facility, 공원보유시설(교양시설) = r_facility, 공원보유시설(기타시설) = etc, 지정고시일 = p_date 
# 관리기관명 = m_agency, 전화번호 = p_num, 데이터기준일자 = s_date, 제공기관코드 = prov_code, 제공기관명 = prov_name

df.columns = ['num', 'name', 'type', 'r_address', 'l_address', 'lat', 'lon', 'p_area', 'e_facility', 'f_facility','c_facility',
              'r_facility', 'etc', 'p_date', 'm_agency', 'p_num', 's_date', 'prov_code', 'prov_name']

https://yganalyst.github.io/spatial_analysis/spatial_analysis_2/ 사이트의 lon, lat to geometry 참고

In [119]:
df['geometry'] = df.apply(lambda row : Point([row['lon'], row['lat']]), axis=1)
df = gpd.GeoDataFrame(df, geometry='geometry')

In [120]:
df['geometry']

9783    POINT (127.46494 36.27867)
9784    POINT (127.47015 36.27837)
9785    POINT (127.44920 36.33653)
9786    POINT (127.46921 36.26946)
9787    POINT (127.46722 36.27525)
                   ...
7841    POINT (127.43430 36.36428)
7842    POINT (127.42719 36.36822)
7843    POINT (127.39791 36.44300)
7844    POINT (127.40305 36.44804)
7845    POINT (127.43359 36.37070)
Name: geometry, Length: 498, dtype: geometry

In [122]:
df_geojson = gpd.GeoDataFrame(df)
df_geojson.to_file('park_daejeon.geojson', driver='GeoJSON')